// Mixin for Flex Center
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Mixin for Button Styles
@mixin button-styles($bg-color, $font-color) {
  background-color: $bg-color;
  color: $font-color;
  padding: $button-padding;
  border: none;
  border-radius: $button-border-radius;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($bg-color, 10%);
  }
}
