// Color Variables
$primary-color: #6AA5D9;      
$secondary-color: #0DE174;  
$font-color: #333; 

// Theme Colors
$color1: #6AD9C5;
$color2: #6AA5D9;
$color3: #6AC8D9;
$color4: #0DE174;
$color5: #6A82D9;
$color6: #D2D3D9;

// Font Variables
$base-font-size: 16px;
$heading-font-family: 'Arial, sans-serif';
$body-font-family: 'Georgia, serif';

// Button Variables
$button-padding: 10px 20px;
$button-border-radius: 5px;
